<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wingman_toolchanger">

  <xacro:macro name="tool_exchanger_robot_side" params="parent_link">
  
    <link name="tool_exchanger_robot_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://ur5e_hande_robot_description/meshes/tool_exchanger/robot_side_part.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey">
          <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://ur5e_hande_robot_description/meshes/tool_exchanger/robot_side_part.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.5"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0"
                 izz="0.001"/>
      </inertial>
    </link>

    <joint name="tool_exchanger_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="tool_exchanger_robot_link"/>
      <origin xyz="0.010 0 0" rpy="0 0 ${pi/2}"/>
    </joint>

  </xacro:macro>

</robot>
